.flex {
  margin: 0;
  display: flex;
  border: 5px solid rgb(255, 251, 251);
  background-color: #fff;
  margin-bottom: 2rem;
  border-radius: 15px;
  /* background: linear-gradient(to left, #4b79a1, #283e51); */
  background-color: rgba(255, 255, 255, 0.2);
  box-shadow: 0 15px 25px rgba(129, 124, 124, 0.2);
  backdrop-filter: blur(14px);
}
.flex:nth-child(odd) {
  flex-direction: row-reverse;
}

.flex div:first-child {
  flex: 1;
  background-size: cover;
  background-position: center;
  margin: 10px;
}
.flex div {
  cursor: pointer;
}
.flex div:last-child {
  margin: 2rem;
  flex: 2;
}
.flex h3 {
  font-size: 1.5rem;
  margin-top: 0;
  font-weight: 400;
}
.flex p {
  font-size: 1rem;
  line-height: 1.4;
  font-weight: 400;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3; /* number of lines to show */
  line-clamp: 3;
  -webkit-box-orient: vertical;
}
.flex p:last-of-type {
  margin-bottom: 0;
}
.column {
  width: 80%;
  margin: 0 auto;
  max-width: 700px;
}

.search {
  width: 93vw;
  height: 40px;
  margin: 15px auto;
  background: #444;
  background: rgba(0, 0, 0, 0.2);
  border-radius: 3px;
  border: 1px solid #fff;
}
.search input {
  width: 370px;
  padding: 10px 5px;
  float: left;
  color: #ccc;
  border: 0;
  background: transparent;
  border-radius: 3px 0 0 3px;
}
.search input:focus {
  outline: 0;
  background: transparent;
}
.search button {
  position: relative;
  float: right;
  border: 0;
  padding: 0;
  cursor: pointer;
  height: 40px;
  width: 120px;
  color: #fff;
  background: transparent;
  border-left: 1px solid #fff;
  border-radius: 0 3px 3px 0;
}
.search button:hover {
  background: #fff;
  color: #444;
}
.search button:active {
  box-shadow: 0px 0px 12px 0px rgba(225, 225, 225, 1);
}
.search button:focus {
  outline: 0;
}
.image-box {
  -webkit-transform: scale(1);
  transform: scale(1);
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}
.image-box:hover {
  -webkit-transform: scale(1.05);
  transform: scale(1.05);
}
.details-con{
  z-index: 5;
  background-color: tomato;
  width: 98vw;
  height: 85vh;
  position: fixed;
  box-shadow: 0 15px 25px rgba(129, 124, 124, 0.2);
  border-radius: 5px;
  backdrop-filter: blur(14px);
  background-color: rgba(255, 255, 255, 0.2);
  padding: 10px;
  
}
.div-details {
  background-repeat: no-repeat;
  background-size: contain;
  background-position: right;
}
.description{
  display: inline-flex;
  align-items: flex-start;
  width: 600px;
  height: 150px;
  overflow: auto;
  text-align: justify;
  padding: 20px;
}
.textarea-bv{
  border: 1px solid rgb(5, 5, 5); 
  background: none;
}
/* .btn{
  width: 30px;
  height: 30px;
} */
section:empty {
  background-image: url("https://i.ibb.co/QH291d3/empty.png") ;
  background-size: cover;
 width: 98vw;
 height: 80vh;
}
@media all and (max-width: 600px) {
  body {
    margin: 0;
  }
  .search input {
    width: 100px;
  }
  .div-details {
    background-size: 20vw 22vh;
    background-position: top;
    background-position-x: right;
  }

}
@media all and (max-width: 780px) {

  .div-details {
    background-size: 10vw 10vh;
    background-position: top;
    background-position-x: right;
  }

}
@media all and (max-width: 450px) {
  h2 {
    margin: 1rem;
  }
  .flex {
    border: 0;
    margin: 0;
    border-bottom: 2px solid #333;
  }
  .flex div:last-child {
    margin: 1rem;
  }
  .column {
    width: 100%;
  }
}
@media all and (max-width: 400px) {
  .flex {
    flex-direction: column;
  }
  .flex div:first-child {
    min-height: 200px;
  }
  .description{
    width: 300px;
  }

}
